.xyz {
  height: "80%";
  overflow: "auto"
}

.hvVerticalNavigation {
  width: 300px;
  min-height: 100%;
}

.hvVerticalNavigationHeader {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.HvVerticalNavigationTreeViewItem-selected>.hv-1kxd4h2{background:var(--uikit-colors-atmo3);border-left:4px solid #1976d2;}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem {
  color: white;
}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem:hover {
  background-color: #1976d2 !important;
}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem-selected {
  background-color: #1976d2 !important;
}

/* Styling for actions at the bottom (Profile, Logout) */
.hvVerticalNavigationActions {
  background-color: #1976d2 !important;
  padding: 16px;
  border-top: 1px solid #1976d2 !important;
}

.hvVerticalNavigationActions .hvVerticalNavigationAction {
  color: white;
}

.hvVerticalNavigationActions .hvVerticalNavigationAction:hover {
  background-color: #1976d2 !important
}