.xyz {
  height: "80%";
  overflow: "auto"
}

.hvVerticalNavigation {
  color: white;
  width: 300px;
  min-height: 100%;
}

.hvVerticalNavigationHeader {
  color: white;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem {
  color: white;
}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem:hover {
  background-color: #1e282c !important;
}

.hvVerticalNavigationTree .hvVerticalNavigationTreeItem-selected {
  background-color: #1e282c !important;
}

/* Styling for actions at the bottom (Profile, Logout) */
.hvVerticalNavigationActions {
  background-color: #222d32 !important;
  padding: 16px;
  border-top: 1px solid #1e282c !important;
}

.hvVerticalNavigationActions .hvVerticalNavigationAction {
  color: white;
}

.hvVerticalNavigationActions .hvVerticalNavigationAction:hover {
  background-color: #1e282c !important
}