.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
   
}

.card {
    background-color: rgb(25, 118, 210);
    padding: 16px;
    border-radius: 4px;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
}

.card h3 {
    margin: 0;
}

.card p {
    font-size: 24px;
    margin: 8px 0;
}

.catTitle {
    font-size: medium;
    font-weight: 700;
    border-bottom: 2px solid #1976d2;
    margin-bottom: 10px;
}